.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mainChat {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.bubbleWrapper {
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
  padding: 20px;
}

.usernameInput {
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  flex: 1;
  margin-right: 5px;
}

.leftBarWrapper {
  padding: 20px;
}
